/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

/*Styling*/

.profile-image img {
  border-radius: 100%;
  border: 13px solid rgba(46, 139, 86, 0.795);
}

.profile-info .profile-user-settings .profile-user-name {
  font-weight: lighter;
  padding-right: 10px;
  font-size: 35px;
}

.btn {
  height: fit-content;
  margin-top: 10px;
  margin-left: 5px;
}

.profile-settings-btn {
  transform: scale(1.4);
  margin-bottom: 5px;
  margin-left: 15px;
}

.profile-stats ul {
  list-style: none;
}

.profile-stats ul li {
  font-size: 15px;
}

.profile-stat-count {
  font-weight: bold;
}

.profile-bio p {
  font-size: 15px;
}

.gallery {
  position: relative;
}

.gallery-item-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gallery-item-info li {
  margin: 5px 0;
}

.gallery-item-likes i,
.gallery-item-comments i {
  margin-right: 5px;
}

/*Layout*/
.profile {
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 120px;
  justify-content: center;
  flex-wrap: wrap;
}

.profile .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3;
  margin-left: 10px;
}

.profile .profile-info .profile-user-settings {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.profile-stats ul {
  display: flex;
  gap: 45px;
  margin-bottom: 20px;
  padding: 0;
}

.profile-bio {
  margin-top: 10px;
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 18%);
  grid-template-rows: 550px repeat(3, 410px);
  justify-content: center;
}

@media (max-width: 1110px) {
  .gallery {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }

  .profile {
    margin-right: 0;
  }
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.gallery-item-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.gallery-item-info ul {
  display: flex;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus-within .gallery-item-info {
  opacity: 1;
  visibility: visible;
}

.gallery-item-type {
  position: absolute;
  top: 0;
  right: 0;
}

.gallery-item-likes span,
.gallery-item-comments span {
  visibility: hidden;
}
